/* 1260px */
body {
    height:100vh;
    background:url(../images/7598163.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}
header {
    height:100%; max-width:100%;
}
header .profile_wrap {
    margin:0 auto;
    display:flex; flex-flow:column nowrap;
    justify-content: center; align-items: center;
}
header .profile_wrap .p_top {
    margin-top:220px;
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
header .profile_wrap .p_top .photo {
    width:200px; height:200px; 
    border:5px solid #fff; 
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-20px);
    animation:photo 1.5s linear alternate infinite;
}
@keyframes photo {
    0% {transform:translateY(0);}
    100% {transform:translateY(-20px);}
}
header .profile_wrap .p_top .photo img {
    width:100%;
    position:relative; bottom:20px;
}
header .profile_wrap .p_top h1 {
    font-family: 'Lobster', cursive;
    font-size:2rem; padding:20px;
    background:linear-gradient(90deg, #ff00ff, #00ffff, #ff00ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-size:400%;
    animation:txt_bg 15s linear infinite;
}
@keyframes txt_bg {
    0% {background-position-x:0%;}
    100% {background-position-x:400%;}
}
header .profile_wrap .p_top .loading {
    overflow:hidden;
    background:#fff;
    width:300px; height: 10px;
    margin:20px 0; border-radius: 5px;
}
header .profile_wrap .p_top .loading .bar {
    display: block;
    width:300px; height: 10px;
    background:#ff00ff;
    transform:scaleX(0);
    transform-origin:left top;
    transition:all 3s;
}
header .profile_wrap .p_top .photo:hover~.loading .bar {
    transform:scaleX(1);
}
header .profile_wrap .p_top p {font-weight:700;}
header .profile_wrap .p_btm {
    padding:30px 0; width:115px;
    display: flex; flex-flow:row nowrap;
}
header .profile_wrap .p_btm a {
    width:25px; height:25px;
    margin-right:20px; 
    display:flex; flex-flow: column nowrap; align-items: center;
}
header .profile_wrap .p_btm a:last-child {margin-right:0;}
header .profile_wrap .p_btm a img {width:100%;}
header .profile_wrap .p_btm a span {
    font-family: 'Lobster', cursive;
    background:#222; color:#fff;
    padding:5px; margin-top:10px;
    opacity: 0;
}
header .profile_wrap .p_btm a:hover span{
    opacity: 1;
}
header .profile_wrap .m_bar {
    width:30px; height:25px;
    display: flex; flex-flow:column nowrap;
    justify-content: space-between;
    position:absolute; bottom:100px;
    cursor: pointer;
}
header .profile_wrap .m_bar span {
    width:100%; height:5px;
    background:#000;
    border-radius:5px;
    transition:transform 0.3s;
    transform-origin:center;
}
header .profile_wrap .m_bar:hover span:nth-child(1) {
    transform:translateY(10px) rotate(45deg);
}
header .profile_wrap .m_bar:hover span:nth-child(2) {
    opacity: 0;
}
header .profile_wrap .m_bar:hover span:nth-child(3) {
    transform:translateY(-10px) rotate(-45deg);
}
.txt_bar {}
.txt_bar .txt1 {
    height:200px;
    background:url(../images/bg2.png) repeat-x;
    width:150%;
    transform:rotate(-10deg) translateX(-100px);
    animation:txtbar 15s linear infinite;
}
.txt_bar .txt2 {
    height:200px;
    background:rgba(0, 0, 0, 0.8) url(../images/bg3.png) repeat-x;
    width:150%;
    transform:rotate(10deg) translateX(-100px);
    animation:txtbar 15s linear infinite;
}
@keyframes txtbar {
    0% {background-position:0;}
    100% {background-position:1000px;}
}
.project {
    max-width:1260px; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
    padding:150px 0;
}
.project .contents_wrap {
    height:350px;
    width:calc(25% - 60px / 4);
    /* overflow:hidden; */
}
.project .contents_wrap a {
    display:block; height: 350px;
    background:url(../images/web.png) no-repeat center;
    background-size:auto 100%;
    position: relative;
    border-top-left-radius:100px;
    border-top-right-radius:100px;
    transition:all 0.3s;
}
.project .contents_wrap .contents {
    background:#fff; width:100%;
    position:absolute; bottom:0; left:0;
    padding:20px; text-align:center;
}
.project .contents_wrap .contents h1 {font-weight:700;}
.project .contents_wrap .contents h2 {margin:10px 0;}
.project .contents_wrap .contents p {}
.project .contents_wrap a:hover {
    background-size:auto 110%;
    box-shadow:5px 5px 10px;
}
footer {
    color:#fff;
    font-size:2rem; text-align: center; line-height:50px;
    padding:50px 0 200px;
    text-shadow:0 0 5px #333;
}